<section id="tangsach">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="display: grid;">
                <div class="img-center">
                    <img src="/assets/images/3-quyen-sach-hay-nhat.png" alt="NPT Diary Tặng 3 quyển sách hay nhất mọi thời đại">
                </div>
            </div>
            <div class="col-md-6" style="display: grid;">
                    <div class="tangsach-text text-center">
                    <h2>NHẬN NGAY BỘ 3 QUYỂN SÁCH HAY NHẤT MỌI THỜI ĐẠI</h2>
                    <p>Hi! Chào mừng bạn đến với NPT Diary. Mình có món quà dành tặng cho bạn đây</p>
                    <a href="nhan-qua-tang" class="btn">Tải PDF Miễn Phí</a>
                </div>
            </div>
        </div>
    </div>
</section>