<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">    
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/assets/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/assets/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/assets/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/assets/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/assets/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.baseurl }}/assets/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/assets/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/assets/images/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/images/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- Facebook Instant Articles -->

<meta property="fb:pages" content="1830797013632049" />


{% seo %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic|Montserrat:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">
    
<!-- Addthis --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bb241480d07adeb"></script>
    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NN6D6HH');</script>
<!-- End Google Tag Manager -->
   
<!-- Autolink SmartTag -->

<script type="text/javascript">
var __atsmarttag = {
    pub_id: '4587868432875989388'
};
(function () {
    var script = document.createElement('script');
    script.src = '//static.accesstrade.vn/js/atsmarttag.min.js?v=1.1.0';
    script.type = 'text/javascript';
    script.async = true;
    (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(script);
})();
</script>
<!-- End Autolink SmartTag -->


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-4611350996461206",
          enable_page_level_ads: true
     });
</script>

</head>
    

{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NN6D6HH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
<!-- Begin Menu Navigation
================================================== -->
<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
        </a>
        <!-- End Logo -->

        <!-- Begin Menu -->
        {% include menu.html %}
         <!-- End Menu -->
         
    </div>
</header>
    

    
<!-- End Menu Navigation
================================================== -->
    
<div class="site-content">
    
    <div class="container">
    <!-- Content
    ================================================== --> 
    <div class="main-content">
        {{ content }}
    </div>

    </div><!-- /.container --> 



    <!-- Before Footer
    ================================================== --> 
    <div class="beforefooter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center footersocial">
                    <h5>Kết nối với chúng mình</h5>
                    <a href="https://www.facebook.com/nptdiary/" target="blank"><i class="fa fa-facebook"></i></a>
                    <a href="https://plus.google.com/collection/8012SF" target="blank"><i class="fa fa-google"></i></a>
                    <a href="https://www.facebook.com/nptdiary/" target="blank"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin Footer
    ================================================== -->
    <footer class="footer">

        <div class="container">

            <div class="row">
                <div class="col-sm-3">
                <div class="footer-widget">
                <a href="{{site.baseurl}}/contact">
                <!--<img src="{{ site.baseurl }}/assets/images/logo-footer.png">-->
                </a>
                </div>
                </div>

                <!--<div class="col-sm-3">-->
                <!--<div class="footer-widget">-->
                <!--<h5 class="title">Resources</h5>-->
                <!--<ul>-->
                <!--<li><a target="_blank" href="https://m.do.co/c/84c9b45d0c47">Digital Ocean</a></li>-->
                <!--<li><a target="blank" href="https://www.cloudways.com/en/pricing.php?id=153986&amp;a_bid=005da123">Cloudways</a></li>-->
                <!--<li><a target="blank" href="http://shareasale.com/r.cfm?b=875645&amp;u=1087935&amp;m=41388&amp;urllink=&amp;afftrack=">Page Speed Test</a></li>-->
                <!--<li><a target="blank" href="https://www.wowthemes.net/affiliate-area/?utm_source=fromjekyllsidebar&utm_campaign=sidebar">Partner with Us</a></li>-->
                <!--<li><a target="blank" href="https://www.wowthemes.net/category/jekyll-themes/">Our Jekyll Themes</a></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-sm-3">-->
                <!--<div class="footer-widget">-->
                <!--<h5 class="title">Author</h5>-->
                <!--<ul>-->
                <!--<li><a href="https://www.wowthemes.net/premium-themes-templates/">About Us</a></li>-->
                <!--<li><a target="_blank" href="https://www.wowthemes.net/affiliate-area/">Affiliates</a></li>-->
                <!--<li><a href="https://www.wowthemes.net/terms-and-conditions/">License</a></li>-->
                <!--<li><a href="https://www.wowthemes.net/blog/">Blog</a></li>-->
                <!--<li><a href="https://www.wowthemes.net/support/">Contact</a></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-sm-3">-->
                <!--<div class="footer-widget textwidget">-->
                <!--    <h5 class="title">Download</h5>-->
                <!--    <p>Download "Affiliates" theme and use it for your next Jekyll project. If you have a question, a bug report, or if you simply want to say hi, <a href="https://www.wowthemes.net/support/">contact us here</a>.</p> -->
                <!--    <a href="https://github.com/wowthemesnet/affiliates-jekyll-theme/archive/master.zip">Download Theme</a>                    -->
                <!--</div>-->
                <!--</div>-->
            </div>

            <div class="copyright">
                <p class="pull-left">
                Copyright © {{  'now' | date: "%Y" }} {{ site.authors.phutrong.name }}.
                </p>
                <div class="clearfix"></div>
            </div>

        </div>

    </footer>
    <!-- End Footer
    ================================================== -->

    
</div> <!-- /.site-content>

<!-- JavaScript
================================================== -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
    
<script type='text/javascript' src='{{ site.baseurl }}/assets/js/masonry.pkgd.min.js'></script>
    
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>
<script>
var links = document.links;

for (var i = 0, linksLength = links.length; i < linksLength; i++) {
   if (links[i].hostname != window.location.hostname) {
       links[i].target = '_blank';
   } 
}
</script>
    
</body>
    
</html>
